@use 'pkg:@solexllc/usx-theme/variables' as *;

.usx-section {
	margin: 2rem 0;
}

.usx-section__title {
	margin-top: 0;
}

.usx-section__content > :first-child {
	margin-top: 0;
}

.usx-section__content > :last-child {
	margin-bottom: 0;
}
