node_modules/
venv/
packages/usx-stories/src/stories/
scripts/templates/
**/storybook-static/
**/dist/
*.cjs
*.config.js
*.config.cjs
!packages/core/src/**/*.js
!packages/core/src/**/*.jsx
!packages/core/src/**/*.ts
!packages/core/src/**/*.tsx