@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usa-banner.usx-banner {
  .usa-banner__inner,
  .usa-banner__content {
    @include layout-container;
  }

  // Supports max layout widths larger than 64rem
  @include at-media('tablet') {
    .usa-banner__guidance {
      max-width: unset;
    }
  }

  background-color: usx-when($usx-banner-bg);

  color: usx-when($usx-banner-text);

  .usa-banner__header-text, .usa-banner__content {
    color: usx-when($usx-banner-text);
  }

  .usa-banner__button {
    color: usx-when($usx-banner-button-text);
  }

  .usa-banner__button::after {
    background-color: usx-when($usx-banner-chevron-text);
  }
}
