@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usx-checkbox {
  .usa-checkbox__label::before {
    border-radius: $usx-checkbox-border-radius;
  }

  .usa-checkbox__input:checked:not(:disabled) {
    & + .usa-checkbox__label {
      @if $color-primary {
        &::before {
          background-color: $color-primary;
          box-shadow: 0 0 0 2px $color-primary;
        }
      }
    }

    &.usa-checkbox__input--tile + .usa-checkbox__label {
      @if $color-primary {
        border-color: $color-primary;
      }
    }
  }
}

.usx-checkbox.usx-checkbox--small .usa-checkbox__label::before {
  height: 1.125rem;
  width: 1.125rem;
}
