@use 'pkg:@solexllc/usx-theme/variables' as *;

.usx-eyebrow {
  display: block;
  font-size: $usx-font-size-base;
  font-style: normal;
  font-weight: $usx-font-weight-regular;
  color: $usx-text-subtle;
  text-transform: uppercase;
}