@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usx-form-group.usa-form-group--error {
  @if $usx-form-group-error-color {
    border-color: $usx-form-group-error-color;
  }

  @if $usx-form-group-error-border-thickness {
    border-width: $usx-form-group-error-border-thickness;
  }
}

.usa-error-message {
    @if $color-error {
        color: $color-error;
    }
}