@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usa-label,
.usa-legend,
.usa-fieldset > legend {
  color: usx-when($usx-text-ink);
}

.usa-hint {
  color: usx-when($usx-text-subtle);
}

.usx-form-group.usa-form-group--error {
  border-color: usx-when($usx-form-group-error-text);

  border-width: usx-when($usx-form-group-error-border-width);
}

.usa-error-message {
    color: usx-when($usx-color-error);
}