@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usx-page {
  margin-top: units(4);
  margin-bottom: units(8);

  .usx-page__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .usx-page__content {
    display: block;

    p {
      max-width: $usx-layout-max-width;
    }
  }
}
