@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usa-radio__label {
  @if $usx-text {
    color: $usx-text;
  }
}

.usa-radio__input--tile + .usa-radio__label {
  @if $usx-surface-1 {
    background-color: $usx-surface-1;
  }
}

.usa-radio.usx-radio {
  &.usx-radio--small {
    .usa-radio__input + .usa-radio__label::before {
      height: 1.125rem;
      width: 1.125rem;
    }
  }

  @if $usx-checkable-tile-radius != null {
    .usa-radio__input--tile + .usa-radio__label {
      border-radius: $usx-checkable-tile-radius;
    }
  }

  .usa-radio__input--tile + .usa-radio__label {
    @if $usx-checkable-tile-border != null {
      border-color: $usx-checkable-tile-border;
    }

    @if $usx-checkable-tile-border-width != null {
      border-width: $usx-checkable-tile-border-width;
    }
  }

  .usa-radio__label::before {
    @if $usx-checkable-bg != null {
      background-color: $usx-checkable-bg;
    }

    @if $usx-checkable-border != null {
      box-shadow: 0 0 0 2px $usx-checkable-border;
    }
  }

  .usa-radio__input:checked:not(:disabled) {
    & + .usa-radio__label {
      @if $usx-color-primary {
        &::before {
          background-color: $usx-color-primary;
          box-shadow: 0 0 0 2px $usx-color-primary, inset 0 0 0 2px #fff;
        }
      }
    }

    &.usa-radio__input--tile + .usa-radio__label {
      @if $usx-color-primary {
        border-color: $usx-color-primary;
      }
    }
  }
}
