@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usx-layout {
  .usx-sidenav {
    margin-top: 2rem;
  }
}

.usx-sidenav.usa-sidenav {
  border-bottom-color: usx-when($usx-sidenav-border);

  border-bottom-width: usx-when($usx-sidenav-border-width);

  &.usx-sidenav--sticky {
    position: sticky;
    top: 2rem;
  }

  .usa-sidenav__item {
    border-top-color: usx-when($usx-sidenav-border);

    border-top-width: usx-when($usx-sidenav-border-width);
  }

  a {
    &.usa-current {
      color: usx-when($usx-sidenav-current);

      &::after {
        background-color: usx-when($usx-sidenav-current);
      }
    }

    &:not(.usa-button):not(.usa-current) {
      color: usx-when($usx-sidenav-link-text);

      &:hover {
        color: usx-when($usx-sidenav-link-text-hover);

        background-color: usx-when($usx-sidenav-bg-hover);
      }
    }

    &:hover {
      background-color: usx-when($usx-sidenav-bg-hover);
    }
  }
}

// Adjust sticky positioning when nav is present at the same level as layout
.usx-nav--sticky ~ .usx-layout .usx-sidenav--sticky {
  top: 5rem;
}
