@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usx-layout {
  .usx-sidenav {
    margin-top: 2rem;
  }
}

.usx-sidenav.usa-sidenav {
  @if $usx-sidenav-border-color != null {
    border-bottom-color: $usx-sidenav-border-color;
  }

  @if $usx-sidenav-border-width != null {
    border-bottom-width: $usx-sidenav-border-width;
  }

  &.usx-sidenav--sticky {
    position: sticky;
    top: 2rem;
  }

  .usa-sidenav__item {
    @if $usx-sidenav-border-color != null {
      border-top-color: $usx-sidenav-border-color;
    }

    @if $usx-sidenav-border-width != null {
      border-top-width: $usx-sidenav-border-width;
    }
  }

  a {
    &.usa-current {
      @if $usx-sidenav-current-color {
        color: $usx-sidenav-current-color;
      }

      &::after {
        @if $usx-sidenav-current-color {
          background-color: $usx-sidenav-current-color;
        }
      }
    }

    &:not(.usa-button):not(.usa-current) {
      @if $usx-sidenav-link-color {
        color: $usx-sidenav-link-color;
      }

      &:hover {
        @if $usx-sidenav-link-hover-color {
          color: $usx-sidenav-link-hover-color;
        }

        @if $usx-sidenav-hover-color {
          background-color: $usx-sidenav-hover-color;
        }
      }
    }

    &:hover {
      @if $usx-sidenav-hover-color {
        background-color: $usx-sidenav-hover-color;
      }
    }
  }
}

// Adjust sticky positioning when nav is present at the same level as layout
.usx-nav--sticky ~ .usx-layout .usx-sidenav--sticky {
  top: 5rem;
}
