@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usx-step-indicator {
  .usa-step-indicator__segment--complete {
    &::before, &::after {
      @if $usx-step-indicator-segment-complete-color {
        background-color: $usx-step-indicator-segment-complete-color;
      }
    }
  }

  .usa-step-indicator__segment--current {
    &::before, &::after {
      @if $usx-step-indicator-segment-current-color {
        background-color: $usx-step-indicator-segment-current-color;
      }
    }
  }

  .usa-step-indicator__current-step {
    @if $usx-step-indicator-segment-current-color {
      background-color: $usx-step-indicator-segment-current-color;
    }
  }

  .usa-step-indicator__total-steps {
    @if $usx-step-indicator-segment-current-color {
      color: $usx-step-indicator-segment-current-color;
    }
  }
}
