@use 'pkg:@solexllc/usx-theme/variables' as *;

/* stylelint-disable selector-class-pattern -- Public USX classes use BEM naming. */
.usa-summary-box.usx-summary-box {
  @if $usx-summary-box-border {
    border: $usx-summary-box-border;
  }

  @if $usx-summary-box-radius {
    border-radius: $usx-summary-box-radius;
  }

  @if $usx-summary-box-padding {
    padding: $usx-summary-box-padding;
  }

  @if $usx-summary-box-bg {
    background-color: $usx-summary-box-bg;
  }

  @if $usx-summary-box-text {
    color: $usx-summary-box-text;
  }

  @if $usx-summary-box-link-text {
    .usa-summary-box__link:not(:visited, :hover) {
      color: $usx-summary-box-link-text;
    }
  }

  @if $usx-summary-box-link-text-hover {
    .usa-summary-box__link:hover {
      color: $usx-summary-box-link-text-hover;
    }
  }

  @if $usx-summary-box-link-text-visited {
    .usa-summary-box__link:visited {
      color: $usx-summary-box-link-text-visited;
    }
  }
}
