@use 'pkg:@solexllc/usx-theme/variables' as *;

.usa-summary-box.usx-summary-box {

  @if $usx-summary-box-border {
    border: $usx-summary-box-border;
  }

  @if $usx-summary-box-border-radius {
    border-radius: $usx-summary-box-border-radius;
  }

  @if $usx-summary-box-padding {
    padding: $usx-summary-box-padding;
  }

  @if $usx-summary-box-background-color {
    background-color: $usx-summary-box-background-color;
  }

  @if $usx-summary-box-text-color {
    color: $usx-summary-box-text-color;
  }

  @if $usx-summary-box-link-color {
    .usa-summary-box__link:not(:visited):not(:hover) {
      color: $usx-summary-box-link-color;
    }
  }

  @if $usx-summary-box-link-hover-color {
    .usa-summary-box__link:hover {
      color: $usx-summary-box-link-hover-color;
    }
  }

  @if $usx-summary-box-link-visited-color {
    .usa-summary-box__link:visited {
      color: $usx-summary-box-link-visited-color;
    }
  }
}
