.usx-swap {
  cursor: pointer;
  vertical-align: middle;
  place-content: center;
  user-select: none;
  display: inline-grid;
  position: relative;
  webkit-user-select: none;
  -webkit-user-select: none;

  > * {
    grid-row-start: 1;
    grid-column-start: 1;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  input {
    appearance: none;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }
  }

  .usx-swap-on,
  .usx-swap-indeterminate,
  input:indeterminate ~ .usx-swap-on {
    opacity: 0;
  }

  input:is(:checked, :indeterminate) {
    & ~ .usx-swap-off {
      opacity: 0;
    }
  }

  input:checked ~ .usx-swap-on,
  input:indeterminate ~ .usx-swap-indeterminate {
    opacity: 1;
    backface-visibility: visible;
  }
}

.usx-swap-active {
  .usx-swap-off {
      opacity: 0;
  }

  .usx-swap-on {
      opacity: 1;
  }
}

.usx-swap-rotate {
  .usx-swap-on,
  input:indeterminate ~ .usx-swap-on {
    transform: rotate(-45deg);
  }

  input:is(:checked, :indeterminate) ~ .usx-swap-on,
  &.usx-swap-active .usx-swap-on {
    transform: rotate(0deg);
  }

  input:is(:checked, :indeterminate) ~ .usx-swap-off,
  &.usx-swap-active .usx-swap-off {
    transform: rotate(45deg);
  }
}

.usx-swap-flip {
  transform-style: preserve-3d;
  perspective: 20rem;

  .usx-swap-on,
  .usx-swap-indeterminate,
  input:indeterminate ~ .usx-swap-on {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  input:is(:checked, :indeterminate) ~ .usx-swap-on,
  &.usx-swap-active .usx-swap-on {
    transform: rotateY(0deg);
  }

  input:is(:checked, :indeterminate) ~ .usx-swap-off,
  &.usx-swap-active .usx-swap-off {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    opacity: 1;
  }
}