.usx-swap {
  cursor: pointer;
  vertical-align: middle;
  place-content: center;
  user-select: none;
  display: inline-grid;
  position: relative;
  webkit-user-select: none;
  -webkit-user-select: none;

  > * {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  &.usx-swap--rotate, &.usx-swap--flip {
    .usx-swap-off {
      transition: transform 0.25s cubic-bezier(0, 0, .25, 1), max-height 0.25s step-end;
    }
    .usx-swap-on {
      transition: transform 0.25s cubic-bezier(0, 0, .25, 1), max-height 0.25s step-start;
    }
  }

  &.usx-swap--ease {
    .usx-swap-off {
      transition: opacity 0.25s cubic-bezier(0, 0, .25, 1), transform 0.25s cubic-bezier(0, 0, .25, 1), max-height 0.25s step-end;
    }
    .usx-swap-on {
      transition: opacity 0.25s cubic-bezier(0, 0, .25, 1), transform 0.25s cubic-bezier(0, 0, .25, 1), max-height 0.25s step-start;
    }
  }

  input {
    appearance: none;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }
  }

  .usx-swap-on,
  .usx-swap-indeterminate,
  input:indeterminate ~ .usx-swap-on {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
  }

  input:is(:checked, :indeterminate) {
    & ~ .usx-swap-off {
      opacity: 0;
      max-height: 0;
      pointer-events: none;
    }
  }

  input:checked ~ .usx-swap-on,
  input:indeterminate ~ .usx-swap-indeterminate {
    opacity: 1;
    max-height: 100%;
    backface-visibility: visible;
  }
}

.usx-swap-active {
  .usx-swap-off {
      opacity: 0;
      max-height: 0;
      pointer-events: none;
  }

  .usx-swap-on {
      opacity: 1;
  }
}

.usx-swap--rotate {
  .usx-swap-on,
  input:indeterminate ~ .usx-swap-on {
    transform: rotate(-45deg);
  }

  input:is(:checked, :indeterminate) ~ .usx-swap-on,
  &.usx-swap-active .usx-swap-on {
    transform: rotate(0deg);
  }

  input:is(:checked, :indeterminate) ~ .usx-swap-off,
  &.usx-swap-active .usx-swap-off {
    transform: rotate(45deg);
  }
}

.usx-swap--flip {
  transform-style: preserve-3d;
  perspective: 20rem;

  .usx-swap-on,
  .usx-swap-indeterminate,
  input:indeterminate ~ .usx-swap-on {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  input:is(:checked, :indeterminate) ~ .usx-swap-on,
  &.usx-swap-active .usx-swap-on {
    transform: rotateY(0deg);
  }

  input:is(:checked, :indeterminate) ~ .usx-swap-off,
  &.usx-swap-active .usx-swap-off {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    opacity: 1;
  }
}