
@use '../../../../tokens/src/tokens.scss' as *;

.usx-input {
	@if $usx-input-border-radius {
		border-radius: $usx-input-border-radius;
	}

	@if $usx-input-padding {
		padding: $usx-input-padding;
	}
}


.usx-textarea {
	@if $usx-textarea-border-radius {
		border-radius: $usx-textarea-border-radius;
	}

	@if $usx-textarea-padding {
		padding: $usx-textarea-padding;
	}
}

.usx-input:not(.usa-input--error, .usa-input--success) {
	&:not(:disabled) {
		@if $usx-input-background-color {
			background-color: $usx-input-background-color;
		}

		@if $usx-input-text-color {
			color: $usx-input-text-color;
		}

		@if $usx-input-border-color {
			border-color: $usx-input-border-color;
		}
	}
}

.usx-textarea:not(.usa-textarea--error, .usa-textarea--success) {
	&:not(:disabled) {
		@if $usx-textarea-background-color {
			background-color: $usx-textarea-background-color;
		}

		@if $usx-textarea-text-color {
			color: $usx-textarea-text-color;
		}

		@if $usx-textarea-border-color {
			border-color: $usx-textarea-border-color;
		}
	}
}

.usx-input--error {
	@if $usx-input-error-border-width {
		border-width: $usx-input-error-border-width;
	}

	@if $usx-input-error-border-color {
		border-color: $usx-input-error-border-color;
	}

	@if $usx-input-error-border-style {
		border-style: $usx-input-error-border-style;
	}

	@if $usx-input-error-padding-top {
		padding-top: $usx-input-error-padding-top;
	}

	@if $usx-input-error-padding-bottom {
		padding-bottom: $usx-input-error-padding-bottom;
	}
}

.usx-input--success {
	@if $usx-input-success-border-width {
		border-width: $usx-input-success-border-width;
	}

	@if $usx-input-success-border-color {
		border-color: $usx-input-success-border-color;
	}

	@if $usx-input-success-border-style {
		border-style: $usx-input-success-border-style;
	}

	@if $usx-input-success-padding-top {
		padding-top: $usx-input-success-padding-top;
	}

	@if $usx-input-success-padding-bottom {
		padding-bottom: $usx-input-success-padding-bottom;
	}

}

.usx-textarea--error {
	@if $usx-textarea-error-border-width {
		border-width: $usx-textarea-error-border-width;
	}

	@if $usx-textarea-error-border-color {
		border-color: $usx-textarea-error-border-color;
	}

	@if $usx-textarea-error-border-style {
		border-style: $usx-textarea-error-border-style;
	}

	@if $usx-textarea-error-padding-top {
		padding-top: $usx-textarea-error-padding-top;
	}

	@if $usx-textarea-error-padding-bottom {
		padding-bottom: $usx-textarea-error-padding-bottom;
	}
}

.usx-textarea--success {
	@if $usx-textarea-success-border-width {
		border-width: $usx-textarea-success-border-width;
	}

	@if $usx-textarea-success-border-color {
		border-color: $usx-textarea-success-border-color;
	}

	@if $usx-textarea-success-border-style {
		border-style: $usx-textarea-success-border-style;
	}

	@if $usx-textarea-success-padding-top {
		padding-top: $usx-textarea-success-padding-top;
	}

	@if $usx-textarea-success-padding-bottom {
		padding-bottom: $usx-textarea-success-padding-bottom;
	}
}


.usx-input:focus-visible {
	@if $usx-input-focus-outline {
		outline: $usx-input-focus-outline;
	}

	@if $usx-input-focus-outline-offset {
		outline-offset: $usx-input-focus-outline-offset;
	}
}