@use 'pkg:@solexllc/usx-theme/variables' as *;
@use '../alert/alert' as *;

.usa-site-alert.usx-site-alert {
  display: block;
  position: relative;

  &.usa-site-alert--info {

    @if $usx-site-alert-default-bg-color {
      background-color: $usx-site-alert-default-bg-color;

      .usa-alert.usx-alert {
        background-color: transparent;
      }
    }

    @if $usx-site-alert-default-border-color {
      .usa-alert.usx-alert {
        border-color: $usx-site-alert-default-border-color;
      }
    }
  }

  &.usa-site-alert--emergency {

    @if $usx-site-alert-emergency-bg-color {
      background-color: $usx-site-alert-emergency-bg-color;

      .usa-alert {
        border-color: $usx-site-alert-emergency-bg-color;
        background-color: transparent;
      }
    }
  }

  &.usx-site-alert--maintenance, &.usx-site-alert--maintenance-warning {
    background-color: #F0F0F0;

    @if $usx-site-alert-maintenance-bg-color {
      background-color: $usx-site-alert-maintenance-bg-color;
    }
    .usa-alert {
      border: none;
    }
  }

  &.usx-site-alert--maintenance {
    border-top: 8px solid #B50909;

    @if $color-error {
      border-color: $color-error;
    }
  }

  &.usx-site-alert--maintenance-warning {
    border-top: 8px solid #FFBE2E;
  
    @if $color-warning {
      border-color: $color-warning;
    }
  }

  .usa-alert.usx-alert .usa-alert__body {
    background-color: transparent !important;
  }
}

