@use '../../../../tokens/src/tokens.scss' as *;

.usa-banner.usx-banner {
    @if $usx-banner-background-color {
        background-color: $usx-banner-background-color;
    }
    @if $usx-banner-text-color {
        color: $usx-banner-text-color;
    }

    .usa-banner__header-text, .usa-banner__content {
        @if $usx-banner-text-color {
            color: $usx-banner-text-color;
        }
    }

    .usa-banner__button {
        @if $usx-banner-action-color {
            color: $usx-banner-action-color;
        }
    }

    .usa-banner__button::after {
        @if $usx-banner-after-color {
            background-color: $usx-banner-after-color;
        }
    }
}