@use '../../../../tokens/src/_variables' as *;

.usx-avatar-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.usa-avatar-group--overlap {
  
    &:not(.usa-avatar-group--stacked) {

      .usx-avatar:not(:first-child) {
        margin-left: -1.5rem;

        @if $usx-avatar-group-overlap-size {
          margin-left: -$usx-avatar-group-overlap-size;
        }
      }
    }

    .usx-avatar {

      &:hover {
        z-index: 1;

        img {
          box-shadow: 0 0 2px 0 $color-light;

          @if $usx-avatar-group-overlap-box-shadow {
            box-shadow: $usx-avatar-group-overlap-box-shadow;
          }
        }
      }
      
    }
  }

  &.usa-avatar-group--stacked {
    flex-direction: column;
    align-items: start;

    &.usa-avatar-group--overlap {

      .usx-avatar:not(:first-child) {
        margin-top: -1rem;
      }
    }
  }

  .usx-avatar {
    margin: 0;
  }
}