
@keyframes usx-spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.usx-spinner {
  animation: usx-spin 800ms infinite linear;
  will-change: transform;

  @media (forced-colors: active) {
    forced-color-adjust: auto;
  }
}

// Size-1 is a custom USX size (0.75em) not available in USWDS's usa-icon--size-{n}
.usx-spinner--size-1 {
  height: .75em;
  width: .75em;
}
