@use '../../../../tokens/src/_variables' as *;

/* ---------------------------------- */

/* Base Enhancements                  */

/* ---------------------------------- */

.usa-textarea.usx-textarea {
	@if $usx-textarea-border-radius {
		border-radius: $usx-textarea-border-radius;
	}

	@if $usx-textarea-padding {
		padding: $usx-textarea-padding;
	}
}

/* ---------------------------------- */

/* State Enhancements                 */

/* ---------------------------------- */

.usa-textarea.usx-textarea:not(.usa-input--error):not(.usa-input--success) {
	&:not(:disabled) {
		@if $usx-textarea-background-color {
			background-color: $usx-textarea-background-color;
		}

		@if $usx-textarea-text-color {
			color: $usx-textarea-text-color;
		}

		@if $usx-textarea-border-color {
			border-color: $usx-textarea-border-color;
		}
	}
}

.usa-textarea.usx-textarea.usa-input--error {
	@if $usx-input-error-border-width {
		border-width: $usx-input-error-border-width;
	}

	@if $usx-input-error-border-color {
		border-color: $usx-input-error-border-color;
	}

	@if $usx-input-error-border-style {
		border-style: $usx-input-error-border-style;
	}

	@if $usx-input-error-padding-top {
		padding-top: $usx-input-error-padding-top;
	}

	@if $usx-input-error-padding-bottom {
		padding-bottom: $usx-input-error-padding-bottom;
	}
}

.usa-textarea.usx-textarea.usa-input--success {
	@if $usx-input-success-border-width {
		border-width: $usx-input-success-border-width;
	}

	@if $usx-input-success-border-color {
		border-color: $usx-input-success-border-color;
	}

	@if $usx-input-success-border-style {
		border-style: $usx-input-success-border-style;
	}

	@if $usx-input-success-padding-top {
		padding-top: $usx-input-success-padding-top;
	}

	@if $usx-input-success-padding-bottom {
		padding-bottom: $usx-input-success-padding-bottom;
	}
}

