@use '../../../../tokens/src/tokens.scss' as *;

.usx-button {
  @if $usx-button-border-radius {
    border-radius: $usx-button-border-radius;
  }
  @if $usx-button-box-shadow {
    box-shadow: $usx-button-box-shadow;
  }
}

.usx-button--primary {
  @if $usx-button-primary-background-color {
    background-color: $usx-button-primary-background-color;
  }
  @if $usx-button-primary-color {
	color: $usx-button-primary-color;
  }
  @if $usx-button-primary-border-color {
    border-color: $usx-button-primary-border-color;
  }
  &.usx-button--hover, &:hover {
	@if $usx-button-primary-hover-background-color {
	  background-color: $usx-button-primary-hover-background-color;
	}
  }
  &.usx-button--active, &:active {
	@if $usx-button-primary-active-background-color {
	  background-color: $usx-button-primary-active-background-color;
	}
  }
}

.usx-button--secondary {
  @if $usx-button-secondary-background-color {
    background-color: $usx-button-secondary-background-color;
  }
  @if $usx-button-secondary-color {
    color: $usx-button-secondary-color;
  }
  @if $usx-button-secondary-border-color {
    border-color: $usx-button-secondary-border-color;
  }
  &.usx-button--hover, &:hover {
	@if $usx-button-secondary-hover-background-color {
	  background-color: $usx-button-secondary-hover-background-color;
	}
  }
  &.usx-button--active, &:active {
	@if $usx-button-secondary-active-background-color {
	  background-color: $usx-button-secondary-active-background-color;
	}
  }
}

.usx-button--accent-cool {
  @if $usx-button-accent-cool-background-color {
    background-color: $usx-button-accent-cool-background-color;
  }
  @if $usx-button-accent-cool-color {
	color: $usx-button-accent-cool-color;
  }
  @if $usx-button-accent-cool-border-color {
    border-color: $usx-button-accent-cool-border-color;
  }
  &.usx-button--hover, &:hover {
	@if $usx-button-accent-cool-hover-background-color {
	  background-color: $usx-button-accent-cool-hover-background-color;
	}
  }
  &.usx-button--active, &:active {
	@if $usx-button-accent-cool-active-background-color {
	  background-color: $usx-button-accent-cool-active-background-color;
	}
  }
}

.usx-button--accent-warm {
  @if $usx-button-accent-warm-background-color {
    background-color: $usx-button-accent-warm-background-color;
  }
  @if $usx-button-accent-warm-color {
	color: $usx-button-accent-warm-color;
  }
  @if $usx-button-accent-warm-border-color {
    border-color: $usx-button-accent-warm-border-color;
  }
  &.usx-button--hover, &:hover {
	@if $usx-button-accent-warm-hover-background-color {
	  background-color: $usx-button-accent-warm-hover-background-color;
	}
  }
  &.usx-button--active, &:active {
	@if $usx-button-accent-warm-active-background-color {
	  background-color: $usx-button-accent-warm-active-background-color;
	}
  }
}
