@use '../../../../tokens/src/_variables' as *;

.usx-calendar-date {

  // USWDS has margin-right: 1rem, but it's for the purposes of the collection component.
  // USX sets this margin in usx-collection instead to allow the independent use of calendar-date without the margin.
  margin: 0;

  // Width only applies when used standalone (not inside a collection, which controls its own layout)
  &:not(.usa-collection *) {
    width: 4rem;
  }

  .usx-calendar-date-month {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: $color-primary;
    color: $color-light-text;
  }

  .usx-calendar-date-day {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid $color-primary;
    color: $color-primary;
  }

  .usx-calendar-date-month, .usx-calendar-date-day {
    font-size: 1.13rem;
    display: block;
    font-weight: 700;
    padding: .25rem;
    text-align: center;
  }
}

@media (min-width: 40em) {

  .usx-calendar-date {
    &:not(.usx-collection *) {
      width: 5rem;
    }

    .usx-calendar-date-month, .usx-calendar-date-day {
      padding: .5rem;
    }
  }
}
