.usx-task-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid #d8d8d8;

    &:first-child {
      border-top: .125rem solid #d8d8d8;
    }

    &:last-child {
      // 1px is provided by the last usx-task-list__item
      border-bottom: .125rem solid #d8d8d8;
    }
  }

  .usx-task-list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem 0;

    @media (min-width: 40em) {
      flex-direction: row;
      align-items: center;
    }

    &:hover {
      background-color: #e5e5e5;
    }
  }

  .usx-task-list__link {
    color: #005ea2;
    font-size: 1.31rem !important;
    line-height: 1;
  }

  .usa-tag.usx-tag {
    margin-right: .5rem;
    flex-shrink: 0;
  }

  .usx-task-list__hint {
    margin-top: 0.125rem;
  }
}