.usa-search .usx-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.usa-search .usa-button.usx-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}



.usa-search:not(.usa-search--small) {

  .usa-search__submit-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    min-width: 3rem;
  }

  @media screen and (min-width: 30em) {
    .usa-search__submit-icon {
      width: 2rem;
      height: 2rem;
      padding: 0;
      margin: 0;
      width: 3rem;
    }
  }
}