@use '../../../../tokens/src/_variables' as *;

.usx-clickable {
  display: flex;
  text-decoration: none;
  color: currentColor;

  .usx-clickable__link {
    display: inline-block;
    position: relative;
    color: currentColor;
    width: fit-content; 
    height: fit-content;
    text-wrap: nowrap;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform 0.25s ease-in-out;
      pointer-events: none;
    }
  }

  &:hover {

    .usx-clickable__link::after {
      transform: scaleX(1);
    }
  }

  &:focus {
    background-color: color-mix(in oklab, #2491ff 20%, transparent);

    .usx-clickable__link {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;

      &::after {
        transition: none;
        transform: scaleX(1);
        height: 2px;
      }
    }
  }

  &:hover, &:focus {

    .usx-clickable__color-on-hover {
      color: #005ea2;

      @if $color-primary {
        color: $color-primary;
      }
    }

    .usx-clickable__bg-color-on-hover {
      background-color: #005ea2;

      @if $color-primary {
        background-color: $color-primary;
      }
    }
  }
}
