@use '../tag-group/tag-group.scss' as *;
@use '../../../../tokens/src/_variables' as *;

.usx-tag {
  letter-spacing: .07rem;
  display: inline-flex;
  align-items: center;
  line-height: 1.6;
  gap: .25rem;

  &.usx-tag--outline {
    background-color: transparent;
    border: 1px solid currentColor;
  }

  > .usa-icon {
    margin: .25rem .25rem .25rem 0;
  }

  &:has(.usx-tag__dismiss) {
    padding-right: .25rem;
  }

  .usx-tag__dismiss {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .usa-icon {
      margin-right: 0;
    }

    &:hover {
      color: $color-primary-lightest;
    }

    &:focus {
      outline-offset: .25rem;
    }
  }
}
