@use '../../../../tokens/src/_variables' as *;

.usx-header {
  @if $usx-header-background-color != null {
    background-color: $usx-header-background-color;
  }
  @if $usx-header-text-color != null {
    color: $usx-header-text-color;
  }

  @if $usx-header-border-bottom != null {
    border-bottom: $usx-header-border-bottom;
  }

  @if $usx-header-border-top != null {
    border-top: $usx-header-border-top;
  }

  &::after {
    display: none;
  }

  overflow: unset;
  position: relative;

  .usa-navbar {

    .usa-menu-btn {
      @if $usx-header-menu-btn-background-color != null {
        background-color: $usx-header-menu-btn-background-color;
      }
      &:hover {
        @if $usx-header-menu-btn-background-color-hover != null {
          background-color: $usx-header-menu-btn-background-color-hover;
        }
      }
    }
  }

}

:has(> .usx-nav--sticky) {
  overflow: unset;
}

:has(> .usa-header--extended) {

  .usx-nav {
    @if $usx-nav-border-bottom != null {
      border-bottom: $usx-nav-border-bottom;
    }

    @if $usx-nav-background-color != null {
      background-color: $usx-nav-background-color;
    }

    @if $usx-nav-border-top != null {
      border-top: $usx-nav-border-top;
    } @else {
      border-top: 1px solid #dfe1e2;
    }
  }

  @media (min-width: 64em) {

    .usa-nav__submenu.usa-megamenu {
      left: 0;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: calc($max-layout-width + 4rem);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.usa-nav.usx-nav {
  float: right;

  &::after {
    clear: both;
    content: "";
    display: block;
  }

  .usa-nav__close {
    @if $usx-nav-link-color != null {
      background-color: $usx-nav-link-color;
    }
    &:hover {
      @if $usx-nav-link-hover-color != null {
        background-color: $usx-nav-link-hover-color;
      }
    }
  }

  @media (min-width: 64em) {
    width: 100%;
    float: none;

    .usa-nav__secondary {
      right: calc(((100% - 64em)/2) - .25rem);
    }
    
    &.usx-nav--sticky:not(.is-visible) {
      display: block;
      z-index: 200;
      position: sticky;
      top: 0;
    }

    .usa-nav__inner {
      @if $max-layout-width != null {
        max-width: calc($max-layout-width + 4rem);
      }
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
    }

    .usa-nav__secondary-item + .usa-nav__secondary-item {
      @if $usx-header-secondary-link-color != null {
        border-left: 1px solid $usx-header-secondary-link-color;
      }
    }
  }
  
  .usa-nav__link {

    &:not(.usa-nav__primary button[aria-expanded="true"]) {

      @if $usx-nav-link-color != null {
        color: $usx-nav-link-color;
      }

      ::after {
        @if $usx-nav-link-color != null {
          background-color: $usx-nav-link-color;
        }
      }

      &:hover {
        @if $usx-nav-link-hover-color != null {
          color: $usx-nav-link-hover-color;
        }
      }

    }

    &[aria-expanded="true"] {
      @if $usx-nav-link-bg-color != null {
        background-color: $usx-nav-link-bg-color !important;
      }

      & + .usa-nav__submenu {
        @if $usx-nav-submenu-bg-color != null {
          background-color: $usx-nav-submenu-bg-color;
        }
        &::before, &::after {
          @if $usx-nav-submenu-bg-color != null {
            background-color: $usx-nav-submenu-bg-color;
          }
        }
      }
    }
  }

  .usa-nav__secondary-item > a {
    @if $usx-header-secondary-link-color != null {
      color: $usx-header-secondary-link-color;
    }
    &:hover {
      @if $usx-header-secondary-link-hover != null {
        color: $usx-header-secondary-link-hover;
      }
    }
  }

  @media (max-width: 63.99em) {
    .usa-nav__primary-item {
      border-top: 1px solid $usx-nav-link-color;
    }
  }

}