@use "sass:color";
@use '../../../../tokens/src/_variables' as *;


// For alerts that aren't under usx-site-alert
.usx-alert:not(.usx-site-alert *){
// Not sure why this was here
// .usa-alert__body {
	@if $usx-alert-border-radius {
		border-radius: $usx-alert-border-radius;
	}

	@if $usx-alert-box-shadow {
		box-shadow: $usx-alert-box-shadow;
	}
}

@mixin usx-alert-variant($name, $bg, $color, $border) {
	$class-name: unquote("usx-alert--#{$name}");

	.#{$class-name},
	.#{$class-name} .usx-alert__body {
		@if $bg !=null {
			background-color: $bg;
		}

		@if $color !=null {
			color: $color;
		}

		@if $border !=null {
			border-color: $border;
		}
	}

	.theme-dark {

		.#{$class-name},
		.#{$class-name} .usx-alert__body {
			@if $bg !=null {
				background-color: color.adjust($bg, $lightness: -30%);

				::before {
					background-color: $color-light-text;
				}

				.usa-link {
					@if $color-light-text != null {
						color: $color-light-text;
					}
				}
			}

			@if $color-light-text !=null {
				color: $color-light-text;
			}

			@if $border !=null {
				border-color: color.adjust($border, $lightness: -30%);
			}
		}
	}
}

/* Info variant */
@include usx-alert-variant(
	"info",
	$usx-alert-info-background-color,
	$usx-alert-info-text-color,
	$usx-alert-info-border-color
);

/* Warning variant */
@include usx-alert-variant(
	"warning",
	$usx-alert-warning-background-color,
	$usx-alert-warning-text-color,
	$usx-alert-warning-border-color
);

/* Success variant */
@include usx-alert-variant(
	"success",
	$usx-alert-success-background-color,
	$usx-alert-success-text-color,
	$usx-alert-success-border-color
);

/* Error variant */
@include usx-alert-variant(
	"error",
	$usx-alert-error-background-color,
	$usx-alert-error-text-color,
	$usx-alert-error-border-color
);

/* Emergency variant */
@include usx-alert-variant(
	"emergency",
	$usx-alert-emergency-background-color,
	$usx-alert-emergency-text-color,
	$usx-alert-emergency-border-color
);

.usx-alert--slim {
	@if $usx-alert-slim-padding-block {
		padding-block: $usx-alert-slim-padding-block;
	}

	@if $usx-alert-slim-padding-inline {
		padding-inline: $usx-alert-slim-padding-inline;
	}
}

.usx-alert--no-icon {
	@if $usx-alert-no-icon-padding-inline-start {
		padding-inline-start: $usx-alert-no-icon-padding-inline-start;
	}
}

.usx-alert__body {
	@if $usx-alert-body-gap {
		gap: $usx-alert-body-gap;
	}
}

.usx-alert__heading {
	@if $usx-alert-heading-font-size {
		font-size: $usx-alert-heading-font-size;
	}

	@if $usx-alert-heading-font-weight {
		font-weight: $usx-alert-heading-font-weight;
	}

	@if $usx-alert-heading-margin-block-end {
		margin-block-end: $usx-alert-heading-margin-block-end;
	}
}

.usx-alert__text {
	@if $usx-alert-text-font-size {
		font-size: $usx-alert-text-font-size;
	}

	@if $usx-alert-text-line-height {
		line-height: $usx-alert-text-line-height;
	}
}