@use '../../../../tokens/src/_variables' as *;

.usx-combo-box {

  &.usx-combo-box--error .usa-combo-box__input {
    border-width: .25rem;
    border-color: #b50909;
    border-style: solid;
    padding-top: calc(.5rem - .25rem);
    padding-bottom: calc(.5rem - .25rem);

		@if $usx-input-error-border-width {
			border-width: $usx-input-error-border-width;
		}

		@if $usx-input-error-border-color {
			border-color: $usx-input-error-border-color;
		}

		@if $usx-input-error-border-style {
			border-style: $usx-input-error-border-style;
		}

		@if $usx-input-error-padding-top {
			padding-top: $usx-input-error-padding-top;
		}

		@if $usx-input-error-padding-bottom {
			padding-bottom: $usx-input-error-padding-bottom;
		}
  }
}
